body {
    background-color: rgb(245, 245, 245);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* reuse navbar styles */
.nav-bar {
    background-color: rgb(0, 48, 135);
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 10px 0px;
    width: 100%;
    position:fixed;
    top: 0;
}

.company-name a {
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.nav-bar-link {
    text-decoration: none;
    color: grey;
}

#create-review-btn {
    background-color: rgb(226, 182, 0);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}

#create-review-btn:hover {
    transform: translateY(+3px);
    transition: 0.25s;
    cursor: pointer;
}

.page-container {
    max-width: 1000px;
    margin: 0 auto;
}

/* breadcrumb */
.breadcrumb {
    margin-top: 70px;
    padding: 10px 30px;
    color: grey;
    font-size: 14px;
}

/* header */
.discussion-header {
    text-align: center;
    font-size: 2.5rem;
    padding: 20px;
}

.discussion-header h1 {
    margin-bottom: 5px;
}

/* search */
.discussion-search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.discussion-search input {
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.discussion-search:hover {
    transform: translateY(-3px);
    transition: 0.25s;
    cursor: pointer;
}

/* list */
.discussion-list {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.discussion-card {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

.discussion-card h3 {
    margin: 0;
}

.discussion-card p {
    color: grey;
    font-size: 14px;
}

.discussion-card:hover {
    border: 1px solid rgba(0, 48, 135, 0.9);
    transform: translateY(-3px);
    transition: 0.25s;
    cursor: pointer;
}

/* CTA */
.discussion-cta {
    margin: 40px auto;
    text-align: center;
}

.discussion-cta button {
    background-color: rgb(0, 48, 135);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
}

#post-discussion-btn:hover {
    border-radius: 10px;
    transform: translateY(-3px);
    transition: 0.25s;
    cursor: pointer;
}

/* footer reuse */
.footer-text {
    text-align: center;
    padding: 40px;
    background-color: rgb(230, 235, 245);
    /* border-top: 1px solid rgba(0,0,0,0.1); */
    color: grey;
}