body {
    background-color: rgb(245, 245, 245);
    font-family: Arial, sans-serif;
}

.breadcrumb {
    margin-bottom: 20px;
    font-size: 1rem;
    color: rgb(0, 48, 135);
    gap: 12px;
}

.breadcrumb a {
    color: rgb(0, 48, 135);
    text-decoration: none;
    font-weight: 500;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.card {
    border-radius: 25px;
    border: 2px solid rgba(0, 48, 135);
    background-color: white;
    transition: 0.2s;
}

.form-control:focus,
.form-select:focus {
    border-color: rgb(0, 48, 135);
    box-shadow: 0 0 0 0.2rem rgba(0, 48, 135, 0.2);
}

.btn-primary {
    background-color: rgb(0, 48, 135);
    border-color: rgb(0, 48, 135);
}

.btn-primary:hover {
    background-color: rgb(226, 182, 0);
    border-color: rgb(0, 35, 100);
}

.btn-outline-secondary:hover {
    background-color: rgb(226, 182, 0);
    border-color: rgb(226, 182, 0);
    color: white;
}

.text-primary {
    color: rgb(0, 48, 135) !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}