<div class="comment" data-comment-id="{{ comment.comment_id }}">
    <div class="comment-content">

        <p class="meta">
            {% if comment.comment_author_id == current_user_id %}
                You
            {% else %}
                {{ comment.author.username }}
            {% endif %} • 
            <time class="relative-time" datetime="{{ comment.created_at.isoformat() }}Z"></time>
        </p>

        <p>{{ comment.content }}</p>

        <div class="comment-actions">
            <button class="reply-btn">
                Reply
            </button>
            {% if comment.replies %}
                <button class="toggle-replies-btn">
                    <span class="reply-arrow">▶</span>
                    <span class="reply-count">
                    {{ comment.replies|length }}
                    {% if comment.replies|length == 1 %}
                        reply
                    {% else %}
                        replies
                    {% endif %}
                    </span>
                </button>
            {% endif %}
        </div>
    </div>

    <!-- REPLIES -->
    {% if comment.replies_cache %}
        <div class="replies hidden">
            {% for reply in comment.replies %}
                {% set comment = reply %}
                {% include "partials/comment.html" %}
            {% endfor %}
        </div>
    {% endif %}
</div>