<div class="comment" data-comment-id="{{ comment.comment_id }}" data-discussion-id="{{ discussion.discussion_id }}">
    <div class="comment-content">

        <p class="meta">
            {% if comment.comment_author_id == current_user.user_id %}
                You
            {% else %}
                {{ get_user(comment.comment_author_id).username }}
            {% endif %} • 
            <time class="relative-time" datetime="{{ comment.created_at.isoformat() }}"></time>
        </p>

        <p>{{ comment.content }}</p>

        <button class="reply-btn">Reply</button>
    </div>

    <!-- REPLIES -->
    {% set replies = discussion.comments | selectattr("parent_comment_id", "equalto", comment.comment_id) | list %}

    {% if replies %}
        <div class="replies">
            {% for comment in replies %}
                {% include "partials/comment.html" %}
            {% endfor %}
        </div>
    {% endif %}
</div>